@import "tailwindcss";
@plugin "daisyui" {
  themes: winter --default, dracula --prefersdark;
}

.glass-effect {
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
